{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ story.title }}
{% endblock title %}

{% block content %}

<!-- Home Section -->
<section id="home" class="main-single-post parallax-section" style="background:url('{{ story.content_image.url }}') no-repeat;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>{{ story.title }}</h1>
            </div>

        </div>
    </div>
</section>

<!-- Blog Single Post Section -->

<section id="blog-single-post" style="color:white; background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-single-post-thumb">
                    <div class="blog-post-title">
                        <h3>{{ story.tags }}</h3>
                    </div>
                    <div class="blog-post-format">
                        <span>
                            <a href="#"><img src="{{ story.authour_image.url }}" class="img-responsive img-circle"> {{ story.authour }}</a>
                        </span>
                        <span><i class="fa fa-date"></i> {{ story.time }}</span>
                    </div>
                    <div class="blog-post-des" style="color:white; background-color: black;">
                        <p style="font-size: x-large;">{{ story.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}